.version
.tarball-version
Makefile
Makefile.in
config.status
config.guess
config.h
config.h.in
config.log
config.sub
configure
libtool
aclocal.m4
compile
depcomp
install-sh
ltmain.sh
missing
stamp-h1
.anjuta
.anjuta_sym_db.db
TODO.tasks
*.anjuta
*~
autom4te.cache
*.pc
/asn1/Makefile
/asn1/Makefile.in
/asn1/xfreerdp
/asn1/*.o
/asn1/*.lo
/asn1/*.la
/asn1/*.deps
/asn1/*.libs
/asn1/*~
/doc/Makefile
/doc/Makefile.in
/doc/*~
/libfreerdp/Makefile
/libfreerdp/Makefile.in
/libfreerdp/*.o
/libfreerdp/*.lo
/libfreerdp/*.la
/libfreerdp/.deps
/libfreerdp/.libs
/libfreerdpkbd/Makefile
/libfreerdpkbd/Makefile.in
/libfreerdpkbd/*.o
/libfreerdpkbd/*.lo
/libfreerdpkbd/*.la
/libfreerdpkbd/.deps
/libfreerdpkbd/.libs
/libfreerdpkbd/*~
/X11/Makefile
/X11/Makefile.in
/X11/xfreerdp
/X11/*.o
/X11/*.lo
/X11/*.la
/X11/*.deps
/X11/*.libs
/X11/*~
/dfb/Makefile
/dfb/Makefile.in
/dfb/dfbfreerdp
/dfb/*.o
/dfb/*.lo
/dfb/*.la
/dfb/*.deps
/dfb/*.libs
/dfb/*~
/channels/common/*.o
/channels/common/*.lo
/channels/common/*.la
/channels/common/Makefile
/channels/common/Makefile.in
/channels/common/.deps
/channels/common/.libs
/channels/common/*~
/channels/rdpsnd/*.o
/channels/rdpsnd/*.lo
/channels/rdpsnd/*.la
/channels/rdpsnd/Makefile
/channels/rdpsnd/Makefile.in
/channels/rdpsnd/.deps
/channels/rdpsnd/.libs
/channels/rdpsnd/*~
/channels/cliprdr/*.o
/channels/cliprdr/*.lo
/channels/cliprdr/*.la
/channels/cliprdr/Makefile
/channels/cliprdr/Makefile.in
/channels/cliprdr/.deps
/channels/cliprdr/.libs
/channels/cliprdr/*~
/channels/rdpdr/*.o
/channels/rdpdr/*.lo
/channels/rdpdr/*.la
/channels/rdpdr/Makefile
/channels/rdpdr/Makefile.in
/channels/rdpdr/.deps
/channels/rdpdr/.libs
/channels/rdpdr/*~
/channels/rdpdr/disk/*.o
/channels/rdpdr/disk/*.lo
/channels/rdpdr/disk/*.la
/channels/rdpdr/disk/Makefile
/channels/rdpdr/disk/Makefile.in
/channels/rdpdr/disk/.deps
/channels/rdpdr/disk/.libs
/channels/rdpdr/disk/*~
/channels/rdpdr/printer/*.o
/channels/rdpdr/printer/*.lo
/channels/rdpdr/printer/*.la
/channels/rdpdr/printer/Makefile
/channels/rdpdr/printer/Makefile.in
/channels/rdpdr/printer/.deps
/channels/rdpdr/printer/.libs
/channels/rdpdr/printer/*~
/libfreerdpchanman/*.o
/libfreerdpchanman/*.lo
/libfreerdpchanman/*.la
/libfreerdpchanman/Makefile
/libfreerdpchanman/Makefile.in
/libfreerdpchanman/.deps
/libfreerdpchanman/.libs
/libfreerdpchanman/*~
/win/*.ncb
/win/*.suo
/win/*.user
/win/Debug*
/win/Release*
/win/wfreerdp/*.user
/win/wfreerdp/Debug*
/win/wfreerdp/Release*

