
Makefile
Makefile.in
config.status
config.guess
config.h
config.h.in
config.log
config.sub
configure
libtool
/libfreerdp/Makefile
/libfreerdp/Makefile.in
/libfreerdp/*.o
/libfreerdp/*.lo
/libfreerdp/*.la
/libfreerdp/.deps
/libfreerdp/.libs
/libkbd/Makefile
/libkbd/Makefile.in
/libkbd/*.o
/libkbd/*.lo
/libkbd/*.la
/libkbd/.deps
/libkbd/.libs
/X11/Makefile
/X11/Makefile.in
/X11/*.o
/X11/*.lo
/X11/*.la
/X11/*.deps
/X11/*.libs
/channels/rdpsnd/*.o
/channels/rdpsnd/*.lo
/channels/rdpsnd/*.la
/channels/rdpsnd/Makefile
/channels/rdpsnd/Makefile.in
/channels/rdpsnd/.deps
/channels/rdpsnd/.libs
/channels/rdpdr/*.o
/channels/rdpdr/*.lo
/channels/rdpdr/*.la
/channels/rdpdr/Makefile
/channels/rdpdr/Makefile.in
/channels/rdpdr/.deps
/channels/rdpdr/.libs
