
Makefile
Makefile.in
config.status
config.guess
config.h
config.h.in
config.log
config.sub
configure
libtool
aclocal.m4
compile
depcomp
install-sh
ltmain.sh
missing
stamp-h1
*~
autom4te.cache
/libfreerdp/Makefile
/libfreerdp/Makefile.in
/libfreerdp/*.o
/libfreerdp/*.lo
/libfreerdp/*.la
/libfreerdp/.deps
/libfreerdp/.libs
/libkbd/Makefile
/libkbd/Makefile.in
/libkbd/*.o
/libkbd/*.lo
/libkbd/*.la
/libkbd/.deps
/libkbd/.libs
/libkbd/*~
/X11/Makefile
/X11/Makefile.in
/X11/xfreerdp
/X11/*.o
/X11/*.lo
/X11/*.la
/X11/*.deps
/X11/*.libs
/X11/*~
/channels/rdpsnd/*.o
/channels/rdpsnd/*.lo
/channels/rdpsnd/*.la
/channels/rdpsnd/Makefile
/channels/rdpsnd/Makefile.in
/channels/rdpsnd/.deps
/channels/rdpsnd/.libs
/channels/rdpsnd/*~
/channels/rdpdr/*.o
/channels/rdpdr/*.lo
/channels/rdpdr/*.la
/channels/rdpdr/Makefile
/channels/rdpdr/Makefile.in
/channels/rdpdr/.deps
/channels/rdpdr/.libs
/channels/rdpdr/*~
/channels/rdpdr/disk/*.o
/channels/rdpdr/disk/*.lo
/channels/rdpdr/disk/*.la
/channels/rdpdr/disk/Makefile
/channels/rdpdr/disk/Makefile.in
/channels/rdpdr/disk/.deps
/channels/rdpdr/disk/.libs
/channels/rdpdr/disk/*~
/libchanman/*.o
/libchanman/*.lo
/libchanman/*.la
/libchanman/Makefile
/libchanman/Makefile.in
/libchanman/.deps
/libchanman/.libs
/win/*.ncb
/win/*.suo
/win/*.user
