Source: freerdp
Section: utils
Priority: extra
Maintainer: Otavio Salvador <otavio@debian.org>
Build-Depends: debhelper (>= 7), autotools-dev, libssl-dev, libx11-dev,
  libasound2-dev, libcups2-dev, pkg-config, libxcursor-dev
Standards-Version: 3.8.4
Homepage: http://freerdp.sourceforge.net/

Package: xfreerdp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X11 front-end for FreeRDP
 xfreerdp is a front-end for various FreeRDP components, which implement a
 client of the Remote Desktop Protocol (RDP), used in a number of Microsoft
 products including Windows NT Terminal Server, Windows 2000 Server, Windows
 XP, Windows 2003 Server, Windows Vista, Windows 2008 Server and Windows 7.

Package: libfreerdp-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeRDP library development files
 <foo>

Package: libfreerdp-plugins-standard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeRDP standard plugins
 <foo>

Package: libfreerdp0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeRDP library
 <foo>
